.style-container1{
    width: auto;
    height: 9rem;
    line-height: 2rem;
}

.style-container2{
    width: auto;
    height: 11rem;
    line-height: 2rem;
}

.style-container3{
    width: auto;
    height: 4rem;
    line-height: 2rem;
}

.style-container4{
    width: auto;
    height: 4rem;
    line-height: 2rem;
}